[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "pytest --cov=fact"

[dev-packages]
pytest = "==5.3.2"
pytest-cov = "==2.8.1"
pep8-naming = "==0.9.1"
mypy = "==0.761"
flake8-import-order = "==0.18.1"
flake8-quotes = "==2.1.1"
flake8 = "==3.7.9"
black = "==19.10b0"

[packages]
colorama = "==0.4.3"
exitstatus = "==1.4.0"

[requires]
python_version = "3.7"
